body{
	background-color: #026aa7;
}

.navbar-default {
	background-color: #10346E;
	color: white;
}
.navbar-default a{
	color: white !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #026aa7;
}

.dropdown-menu {
	background-color: #10346E;
}

.dropdown-menu li a:hover {
	background-color: #113A7D
}

.title1 {
	color: white;
	text-align: center;
	font-size: 30px;
	margin-top: 2%;
	margin-bottom: 4%;
}

.panel-default>.panel-heading {
	background-color: #10346E;
	color: white;
}

.btn-primary {
	background-color: #10346E;
	border-color: gray;
}

.panel-body a {
	color: #10346E; !important;
}

.block-recette {
	height: 100px;
	width: 100%;
	background-color: #026aa7;
	color: white;
	border: 1px solid;
	border-color: #10346E;
	border-radius: 5px;
}

.block-recette a {
	color: white;
	text-decoration: none;
}

.block-recette i {
	position: absolute;
	top: 6%;
	right: 11%;	
}

.content-recette {
	padding: 3%;
}

.modal {
	margin-top: 20%;
}

.modal-header h4 {
	text-align: center;
	font-size: 18px !important;
}

.modal-footer {
	text-align: center;
}

.oui {
	background-color: #188502;
	color: white;
}

.non {
	background-color: #7F0002;
	color: white;
}

.oui:hover{
	background-color: #17B10F;
	color: white;
}

.non:hover{
	background-color: #A00007;
	color: white;
} 

.addrecette {
	height: 100px;
	width: 100px;
	background-color: #10346E;
	color: white;
	border: 1px solid;
	border-color: #10346E;
	border-radius: 4em;
	transition-property: background-color;
    transition-duration: 1s;
    margin-left: 2%;
}

.addrecette i {
	font-size: 4em;
	position: absolute;
	top: 18%;
	right: 19%;
	transition-property: font-size;
    transition-duration: 1s;
}

.colrecette {
	margin-top: 1%;
	margin-bottom: 1%;
}

.addrecette:hover {
	background-color: #026aa7;
	border-color: #026aa7;
}

